* {
	margin:0px;
}
body {
	color:#444444;
	font-size:13px;
	background: #f2f2f2;
	font-family:"Century Gothic", Helvetica, sans-serif;
}
h1 {
	color:#ccc;
	font-size:26px;
	text-shadow:1px 1px 1px #fff;
	padding:20px;
}
#content {
	margin:15px auto;
	position:relative;
	height:100%;
}
#wrapper {
	-moz-box-shadow:0px 0px 3px #aaa;
	-webkit-box-shadow:0px 0px 3px #aaa;
	box-shadow:0px 0px 3px #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #fff;
	background-color:#f9f9f9;
	overflow:hidden;
}
 input:not([type=radio]),  textarea,  select {
 background: #ffffff;
 border: 1px solid #ddd;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 outline: none;
 padding: 3px;
 width: 200px;
}
input:focus {
	-moz-box-shadow:0px 0px 3px #aaa;
	-webkit-box-shadow:0px 0px 3px #aaa;
	box-shadow:0px 0px 3px #aaa;
	background-color:#FFFEEF;
}
p.submit {
	background:none;
	border:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
button {
	border:none;
	outline:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #ffffff;
	display: block;
	cursor:pointer;
	margin: 0px auto;
	clear:both;
	padding: 4px 15px;
	text-shadow: 0 1px 1px #777;
	font-weight:bold;
	font-family:"Century Gothic", Helvetica, sans-serif;
	font-size:18px;
	-moz-box-shadow:0px 0px 3px #aaa;
	-webkit-box-shadow:0px 0px 3px #aaa;
	box-shadow:0px 0px 3px #aaa;
	background:#4797ED;
}
button:hover {
	background:#d8d8d8;
	color:#666;
	text-shadow:1px 1px 1px #fff;
}
a {
	color:#36F;
	text-decoration:none;
}
a:hover {
	color:#09F;
	text-decoration:underline;
}
input.error {
	border-color: #D00;
	color: #D00;
	background: #FFFFFE;
}
label.error {
	display: inline-block;
	font-size: 12px;
	color: #D00;
	padding-left: 10px;
	font-style: italic;
}
